body {
  background-color: lawngreen;
}
.centerHeader {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 150px;
  font-family: fantasy;
  margin-bottom: -30px;
  margin-top: 30px;
}
h3 {
  font-size: 18px;
}
.colorPalette {
  display: flex;
  flex-direction: column;
}
.circle {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  border-radius: 50%
}
.colorPick {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  border-radius: 50%
}
.flexBox {
  display: flex;
  flex-direction: row;
}
.column {
  position: absolute;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
div .row {
  position: relative;
  width: 1300px;
  left: 50px;
  background-color: white;
}
div .div{
  width: 20px;
  height: 20px;
  border: black solid 1px;
  border-left: none;
  display: block;
}
div .borderLeft {
  border-left: black solid 1px;
}
.currentColor {
  width: 98px;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.lawngreen {
  background-color: lawngreen;
}
.green {
  background-color: green;
}
.aqua {
  background-color: aqua;
}
.blue {
  background-color: blue;
}
.indigo {
  background-color: indigo;
}
.purple {
  background-color: purple;
}
.violet {
  background-color: violet;
}
.pink {
  background-color: pink;
}
.deepPink {
  background-color: deepPink;
}
.burlywood {
  background-color: burlywood;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
