body {
  background-image: url(https://images.homedepot-static.com/productImages/3ebbf1da-99ff-40b7-af52-45d6c726c929/svn/bruce-solid-hardwood-c1134-64_1000.jpg);
}
.centerHeader {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 150px;
  font-family: fantasy;
  margin-bottom: -30px;
  margin-top: 30px;
  color: ivory;
}
h3 {
  font-size: 18px;
  color: white;
  margin-left: 13px;
}
.colorPalette {
  display: flex;
  flex-direction: column;
}
.circle {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  border-radius: 50%
}
.colorPick {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  border-radius: 50%
}
.flexBox {
  display: flex;
  flex-direction: row;
}
.column {
  position: absolute;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
div .row {
  position: relative;
  width: 1300px;
  left: 50px;
  background-color: white;
}
div .div{
  width: 20px;
  height: 20px;
  border: black solid 1px;
  border-left: none;
  display: block;
}
div .borderLeft {
  border-left: black solid 1px;
}
.currentColor {
  width: 98px;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.lawngreen {
  background-color: lawngreen;
}
.green {
  background-color: green;
}
.aqua {
  background-color: aqua;
}
.blue {
  background-color: blue;
}
.indigo {
  background-color: indigo;
}
.purple {
  background-color: purple;
}
.violet {
  background-color: violet;
}
.pink {
  background-color: pink;
}
.deepPink {
  background-color: deepPink;
}
.burlywood {
  background-color: burlywood;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.saveBut {
  position: relative;
  left: 745px;
  margin-bottom: 5px;
}
.loadBut {
  position: relative;
  width: 100px;
  height: 29px;
  left: 745px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.hideForm {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  background: white;
  border: 1px solid black;
  border-radius: 25px;
  top: 300px;
  left: 600px;
  z-index: 1;
  margin: 5px;
}
.showForm {
  visibility: visible;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  background: white;
  border: 1px solid black;
  border-radius: 25px;
  top: 300px;
  left: 600px;
  z-index: 1;
  margin: 5px;
}
.bucket {
  margin-left: 50px;
  width: 38px;
  height: 38px;
  filter: invert(1);
}
.brush {
  margin-left: 50px;
  width: 38px;
  height: 38px;
  filter: invert(1);
}
.brushCont {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.bucketCont {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
